/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}
a header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h1 {
  margin: 20px 0;
}

form {
  margin: 20px 0;
}

input[type="file"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #21a1f1;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #21a1f1;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
